#dashboard{
    margin: auto;
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: center;
    width: 30%;
    background-color: #111514;
    padding: 0.2rem;
    color: #f2f0ed;
}
#dashboard tr:nth-child(even) {
    background-color: #1b1f1e; /* Change color for odd rows */
}
#highest_holder{
    text-align: center;
}
#highest_scores{
    color: #f2f0ed;
}
#tables{
    display: flex;
    justify-content: space-around;
}
#tabs{
    width: 25%;
    margin: auto;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111514;
    border-radius: 12px;
}

button {
    display: inline-block;
    background-color: #ffffff00;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.active {
    height: 10vh;
    background-color: #444444;
    color: white;
    border-radius: 12px;
    transform: scale(1.04);
}
button:hover{
    transform: scale(1.04);
}